div {
    padding: 10px;
    margin: 10px;
}

#d1{
    background-color: cornflowerblue;
    color: tomato;
}

#d2{
    border: 1px solid black;
    border-radius: 15px;;
}

#d3{
    text-align: center;
}