body{
    margin: 0px;
    padding: 0px;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 300px auto;
    grid-template-areas: 
    'head head'
    'nav main'
    'footer footer';
}

body > header{
    grid-area: head;
}

body > nav{
    grid-area: nav;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

body > nav > a{
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: white;
    border-radius: 15px;

    text-align: center;
}

body > nav > a:hover{
    background-color: darkgreen;
}

body > main{
    grid-area: main;
}

body > footer{
    grid-area: footer;
}

body > *{
    background-color: chartreuse;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
}

body > nav > a{
    background-color: green;
}